<!DOCTYPE html>
<html lang="en">
    <%- include('../common/header'); %>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="sidebar-mini fixed">
    <div class="wrapper">
        <%- include('../common/nav'); %>
        <!-- Side-Nav-->
        <%- include('../common/side_nav'); %>
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h1>Inventory</h1>
                        <div>
                            <a href="/api/inventory/report" class="btn btn-info">Create Stock Report</a> <!-- Nút mới -->
                            <a href="/api/inventory/add" class="btn btn-danger">+ Add New Item</a>
                        </div>
                    </div>
                    <div class="mb-3">
                        <form action="/api/inventory/search" method="GET" class="form-inline">
                            <input type="text" name="search" class="form-control mr-2" placeholder="Search Inventory...">
                            <button type="submit" class="btn btn-secondary">Search</button>
                            <div class="ml-auto">
                                <select class="form-control" name="group" onchange="this.form.submit()">
                                    <option value="">- Select Group -</option>
                                    <!-- Add group options here -->
                                </select>
                            </div>
                        </form>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Medicine Name</th>
                                <th>Medicine ID</th>
                                <th>Group Name</th>
                                <th>Stock Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% inventory.forEach(item => { %>
                                <tr>
                                    <td><%= item.name %></td>
                                    <td><%= item.medicineId %></td>
                                    <td><%= item.group %></td>
                                    <td><%= item.stock %></td>
                                    <td><a href="/inventory/<%= item._id %>" class="btn btn-link">View Details »</a></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../common/script'); %>
</body>
</html>
