<!DOCTYPE html>
<html lang="en">

<%- include('../common/header'); %>

<body class="sidebar-mini fixed">
    <div class="loader-bg">
        <div class="loader-bar">
        </div>
    </div>
    <div class="wrapper">
        <!-- Navbar-->
        <%- include('../common/nav'); %>
        <!-- Side-Nav-->
        <%- include('../common/side_nav'); %>

        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">

                <!-- Header Starts -->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Users</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item">
                                    <a href="">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/api/users">Users</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Header end -->
                <div class="row" style="margin-bottom: 5px;">
                    <div class="d-flex align-items-center justify-content-between w-100" style="margin-left: 15px;">
                        <form action="/api/users/search" method="GET" class="form-inline">
                            <input type="text" name="search" class="form-control mr-2" placeholder="Type here to search..." required>
                            <button type="submit" class="btn btn-secondary">Search</button>
                        </form>

                        <form action="/api/users/filter" method="GET" class="form-inline">
                            <div class="ml-auto" style="margin-left: 800px;">
                                <select class="form-control" name="role" onchange="this.form.submit()">
                                    <option value="">-- Filter Status --</option>
                                    <% if (roles.length > 0) { %>
                                        <% roles.forEach(role => { %>
                                            <option value="<%= role %>"><%= role %></option>
                                        <% }) %>
                                    <% } else { %>
                                        <li>No roles found.</li>
                                    <% } %>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Tables start -->
                <!-- Row start -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Table starts -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">List Users</h5>
                                <!-- <p>Basic example <code>without any additional modification</code> classes</p> -->
                                <button type="submit" style="left: 950px;" onclick="location.href ='/api/users/add'"
                                    class="btn btn-success waves-effect waves-light m-r-30">Add New User</button>
                            </div>
                            <div class="card-block" style="margin-top: -20px;">
                                <div class="row">
                                    <div class="col-sm-12 table-responsive">
                                        <% if (users.length> 0) { %>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Username</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% users.forEach((user, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= user.username %>
                                                        </td>
                                                        <td>
                                                            <%= user.profile.name %>
                                                        </td>
                                                        <td>
                                                            <%= user.profile.email %>
                                                        </td>
                                                        <td>
                                                            <%= user.role.join(', ') %></td>
                                                        <td>
                                                            <form action="/api/users/edit/<%= user._id %>" style="display:inline;">
                                                                <button type="submit" class="btn btn-primary btn-icon waves-effect waves-light" data-toggle="tooltip" data-placement="top">
                                                                    <i class="icofont icofont-edit"></i>
                                                                </button>
                                                            </form>

                                                            <form action="/api/users/delete/<%= user._id %>" method="POST" style="display:inline;">
                                                                <button onclick="return confirm(' Are you sure you want to delete?')" type='submit'
                                                                class="btn btn-primary btn-icon waves-effect waves-light"
                                                                data-toggle="tooltip" data-placement="top">
                                                                <i class="icofont icofont-ui-delete"></i>
                                                                </button>
                                                                </form>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                        <% } else { %>
                                            <div style="display: flex; justify-content: center; flex-direction: column;">
                                                <p class="text-center text-muted">No user found.</p>
                                                <button type="button" class="btn btn-info waves-effect waves-light"
                                                        onclick="location.href='/api/users'">
                                                    Back
                                                </button>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>

                                <!-- pagination -->
                                <div class="row">
                                    <!-- hiển thị phân trang nếu có trang -->
                                    <% if(pages > 0) { %>
                                    <nav class="mx-auto">
                                    <ul class="pagination" style="margin-top: 2rem;">
                                    
                                        <!-- FIRST ITEM -->  
                                        <% if(current == 1) { %> 
                                            <li class="page-item disabled">
                                            <a class="page-link" href="/api/users">First</a>
                                            </li>
                                        <% } else { %>
                                            <li class="page-item">
                                            <a class="page-link" href="/api/users">First</a>
                                            </li>
                                        <% } %>
                                        
                                        <!-- ITEMS  -->
                                        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
                                        <% if(i !== 1) { %>
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#">...</a>
                                            </li>
                                        <% } %>
                                        <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
                                        <% if(i == current) { %>
                                            <li class="page-item active">
                                            <a class="page-link" href="/api/users/<%= i %>">
                                                <%= i %>
                                            </a>
                                            </li>
                                        <% } else { %>
                                            <li class="page-item">
                                            <a class="page-link" href="/api/users/<%= i %>">
                                                <%= i %>
                                            </a>
                                            </li>
                                        <% } %>
                                        <% if (i == Number(current) + 2 && i < pages) { %>
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#">...</a>
                                            </li>
                                        <% } %>
                                        <% } %>
                                        
                                        <!-- LAST ITEM -->
                                        <% if(current == pages) { %> 
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#">
                                                Last
                                            </a>
                                            </li>
                                        <% } else { %>
                                            <li class="page-item">
                                            <a class="page-link" href="/api/users/<%= pages %>">
                                                Last
                                            </a>
                                            </li>
                                        <% } %>
                                    </ul>
                                    </nav>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <!-- Basic Table ends -->

                    </div>
                </div>
                <!-- Row end -->
                <!-- Tables end -->
            </div>

            <!-- Container-fluid ends -->
        </div>
    </div>

    <%- include('../common/script'); %>

</body>

</html>