<!DOCTYPE html>
<html lang="en">

<%- include('../common/header'); %>

<body class="sidebar-mini fixed">
    <div class="loader-bg">
        <div class="loader-bar">
        </div>
    </div>
    <div class="wrapper">
        <!-- Navbar-->
        <%- include('../common/nav'); %>
        <!-- Side-Nav-->
        <%- include('../common/side_nav'); %>

        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">

                <!-- Header Starts -->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Products</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item">
                                    <a href="">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/api/products">Products</a>
                                </li>
                                <li class="breadcrumb-item"><a href="">Add New Product</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Header end -->

                <!-- Row start -->
                <div class="row">
                    <!-- Form Control starts -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Add New Product</h5>
                                <div class="f-right">
                                    <a href="" data-toggle="modal" data-target="#input-type-Modal"><i
                                            class="icofont icofont-code-alt"></i></a>
                                </div>
                            </div>

                            <div class="card-block">
                                <form action="/api/products/add" method="POST">
                                    <div class="form-group">
                                        <label for="exampleInputSKU" class="form-control-label">SKU</label>
                                        <input name="sku" type="text" value="<%= formData.sku || '' %>"
                                            class="form-control" id="exampleInputSKU">
                                        <% if (typeof errors.sku !== 'undefined') { %>
                                            <div style="color: red;"><%= errors.sku %></div>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="form-control-label">Name</label>
                                        <input name="name" type="text" value="<%= formData.name || '' %>"
                                            class="form-control" id="name">
                                        <% if (typeof errors.name !== 'undefined') { %>
                                            <div style="color: red;"><%= errors.name %></div>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="form-control-label">Description</label>
                                        <input name="description" type="text" value="<%= formData.description || '' %>"
                                            class="form-control" id="description">
                                        <% if (typeof errors.description !== 'undefined') { %>
                                            <div style="color: red;"><%= errors.description %></div>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <label for="price" class="form-control-label">Price</label>
                                        <input name="price" type="number" value="<%= formData.price || '' %>"
                                            class="form-control" id="price">
                                        <% if (typeof errors.price !== 'undefined') { %>
                                            <div style="color: red;"><%= errors.price %></div>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <label for="=quantity" class="form-control-label">Quantity</label>
                                        <input name="quantity" type="number" value="<%= formData.quantity || '' %>"
                                            class="form-control" id="=quantity">
                                        <% if (typeof errors.quantity !== 'undefined') { %>
                                            <div style="color: red;"><%= errors.quantity %></div>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <label for="=expiryDate" class="form-control-label">Expiry Day</label>
                                        <input name="expiryDate" type="date" value="<%= formData.expiryDate || '' %>"
                                            class="form-control" id="=expiryDate">
                                        <% if (typeof errors.expiryDate !== 'undefined') { %>
                                            <div style="color: red;"><%= errors.expiryDate %></div>
                                        <% } %>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleSelect1" class="form-control-label">Supplier ID</label>
                                        <select class="form-control" name="supplier" id="exampleSelect1">
                                            <% if (suppliers) { %>
                                                <% suppliers.forEach(sup => { %>
                                                    <option value="<%= sup._id %>"><%= sup.profile.name %> - <%= sup.profile.email %></option>
                                                <% }) %>
                                            <% } else { %>
                                                <option disabled>No suppliers available</option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-success waves-effect waves-light m-r-30">Submit</button>
                                    <button type="reset"
                                        class="btn btn-success waves-effect waves-light m-r-30">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Form Control ends -->

                </div>
                <!-- Row end -->
            </div>
            <!-- Basic Table ends -->

        </div>
    </div>
    <!-- Row end -->
    <!-- Tables end -->
    </div>

    <!-- Container-fluid ends -->
    </div>
    </div>

    <%- include('../common/script'); %>

</body>

</html>