<!DOCTYPE html>
<html lang="en">

<%- include('../common/header'); %>

<body class="sidebar-mini fixed">
    <div class="loader-bg">
        <div class="loader-bar">
        </div>
    </div>
    <div class="wrapper">
        <!-- Navbar-->
        <%- include('../common/nav'); %>
        <!-- Side-Nav-->
        <%- include('../common/side_nav'); %>

        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">

                <!-- Header Starts -->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Products</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item">
                                    <a href="">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/api/products">Products</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Header end -->
                <div class="mb-3">
                    <form action="/api/products/search" method="GET" class="form-inline">
                        <input type="text" name="search" class="form-control mr-2" placeholder="Type name of product">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </form>
                </div>
                <!-- Tables start -->
                <!-- Row start -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Table starts -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">List Products</h5>
                                <!-- <p>Basic example <code>without any additional modification</code> classes</p> -->
                                <button type="submit" style="left: 900px;" onclick="location.href ='/api/products/add'"
                                    class="btn btn-success waves-effect waves-light m-r-30">Add New Product</button>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-12 table-responsive">
                                        <% if (products.length> 0) { %>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>SKU</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Price</th>
                                                    <th>Supplier</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% products.forEach((product, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= product.sku %>
                                                        </td>
                                                        <td>
                                                            <%= product.name %>
                                                        </td>
                                                        <td>
                                                            <%= product.description %>
                                                        </td>
                                                        <td>
                                                            <%= product.price %>
                                                        </td>
                                                        <td>
                                                            <% if (product.supplier) { %>
                                                                <%= product.supplier.profile.name %>
                                                            <% } else { %>
                                                                No Supplier
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <!-- <form action="/api/products/detail/<%= product._id %>" style="display:inline;">
                                                                <button type="submit" class="btn btn-link btn-icon waves-effect waves-light" data-toggle="tooltip" data-placement="top">
                                                                    <i class="icofont icofont-file-document"></i>
                                                                </button>
                                                            </form> -->

                                                            <form action="/api/products/edit/<%= product._id %>" style="display:inline;">
                                                                <button type="submit" class="btn btn-warning btn-icon waves-effect waves-light" data-toggle="tooltip" data-placement="top">
                                                                    <i class="icofont icofont-edit"></i>
                                                                </button>
                                                            </form>

                                                            <form action="/api/products/delete/<%= product._id %>" method="POST" style="display:inline;">
                                                                <button onclick="return confirm(' Are you sure you want to delete?')" type='submit'
                                                                class="btn btn-danger btn-icon waves-effect waves-light"
                                                                data-toggle="tooltip" data-placement="top">
                                                                <i class="icofont icofont-ui-delete"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                        <% } else { %>
                                            <p class="text-center text-muted">No products found.</p>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Basic Table ends -->

                    </div>
                </div>
                <!-- Row end -->
                <!-- Tables end -->
            </div>

            <!-- Container-fluid ends -->
        </div>
    </div>

    <%- include('../common/script'); %>

</body>

</html>